<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Test App for TDI.">
    <meta name="author" content="@alessandrabeifiori">

    <title>Stock Ticker Lookup App</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
	  <h2>Stock Ticker Lookup App</h2>
          <ul>
	    <!--<li><a href="/about">About</a></li>-->
	    <!--<li><a href="/plot_data">Make plot</a></li>-->
      <li><a target="_blank" href="https://www.quandl.com/data/FSE-Frankfurt-Stock-Exchange?keyword=">Quandl WIKI dataset</a></li>
      <li><a target="_blank" href="https://github.com/abeifiori/Stock_ticker_app">GitHub</a></li>
	  </ul>

    <br>
	  <h4>Quandl Frankfurt Stock Exchange dataset:</h4>
	      <form method="POST"  action="{{ url_for('index') }}"  class="add-entry form-group">
                 Ticker Symbol: <input type="text"  name="url_acr" value="SIX2_X"><br>
                 <h4>Date Range:</h4>
                 Start Date: <input type="text"  name="start_date" placeholder="2018-05-01"><br>
	               End date: <input type="text" name="end_date" placeholder="2018-06-01"><br>
           <h4>Data to plot:</h4>
	         Open  <input type="checkbox" name="col_use" value="Open" ><br>
	         High  <input type="checkbox" name="col_use" value="High" ><br>
	         Low  <input type="checkbox" name="col_use" value="Low" ><br>
	         Close  <input type="checkbox" name="col_use" value="Close" checked><br><br>

               <input type="submit" class="btn btn-primary" value="Plot"><br>
              </form>



{% for message in get_flashed_messages() %}
      <div class="flash alert alert-success col-sm-4" role="success">{{ message }}</div>
    {% endfor %}



        </div>
      </div>
      </div>




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
